@charset "UTF-8";

html,
body {
	margin: 0;
	padding: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd,
address,
blockquote {
	margin: 0;
	padding: 0;
}

body {
	font-family: Noto Sans;
	font-size: 90%;
}

#header {
	margin-bottom: 1em;
	border-bottom: 2px solid #630;
	margin-top: 1em;
	position: relative;
}

#header .anniversary {
	background: url(../images/50_anniv.png) no-repeat center center;
	width: 177px;
	height: 113px;
	position: absolute;
	left: 170px;
	top: 10px;
}

#header h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #630;
	font-weight: normal;
}

#header h2 {
	font-size: 1.4em;
	margin-bottom: .5em;
}

img.floatIMG {
	float: left;
	padding-right: 1em;
}

p {
	font-size: .9em;
	margin-bottom: 1em;
}

dt {
	margin: 0 0 .5em;
	font-size: .9em;
	color: #630;
	font-weight: bold;
}

dd {
	margin: 0 0 1em;
	font-size: .9em;
	padding: 0;
}

#artwork h2 {
	font-size: 1em;
	color: #630;
	margin-bottom: .5em;
}

.gallery img {
	display: block;
	margin-bottom: 0;
}

p.caption {
	font-style: italic;
	text-align: right;
}

#footer {
	line-height: 50px;
	text-align: center;
	background: #630;
	color: white;
	font-size: 0.8em;

}

#footer a {
	text-decoration: none;
	font-weight: bold;
	color: #CC9;
}

.gallery {
	width: 45%;
	float: left;
	margin-right: 5%;
}

img,
object,
embed,
video {
	max-width: 100%;
}

.ie6 img {
	width: 100%;
}

.content {
	padding: 0 20px;
}

.header,
hr {
	margin: 20px;
}

.content-1 img {
	float: left;
	/* width: 600px; */
	padding: 10px;
}

.content-1,
.content-2,
.content-3 {
	padding: 0 10px;
}

.content-1 {
	width: 50%;
}

.content-2 {
	width: 50%;
}

.content-3 {
	width: 50%;
}

.title {
	padding: 10px 0;
	color: rgb(110, 13, 189);
}

span {
	font-weight: bold;
}

.gallery-img {
	padding: 10px;
	width: 100%;
	height: auto;
}

.img-desc {
	text-align: right;
}

.gallery-imges {
	padding: 0 6px;
	float: left;
}

.col {
	width: 43%;
	float: left;
	margin-right: 5%;
}

.nav {
	padding: 0 20px;
	display: flex;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

@media only screen and (min-width: 600px) {

	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}

	.col-s-2 {
		width: 16.66%;
	}

	.col-s-3 {
		width: 25%;
	}

	.col-s-4 {
		width: 33.33%;
	}

	.col-s-5 {
		width: 41.66%;
	}

	.col-s-6 {
		width: 50%;
	}

	.col-s-7 {
		width: 58.33%;
	}

	.col-s-8 {
		width: 66.66%;
	}

	.col-s-9 {
		width: 75%;
	}

	.col-s-10 {
		width: 83.33%;
	}

	.col-s-11 {
		width: 91.66%;
	}

	.col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {

	/* For desktop: */
	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}

/* @media only screen and (min-width: 992px) {
	.content {
		display: flex;
	}

}

@media only screen and (min-width: 600px) {

	.content-1,
	.content-2 {
		width: 50%;
	}

	.content-3 {
		width: 100%;

	}
} */