/* html,
body {
  margin: 0;
  padding: 0;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
dt,
dd,
address,
blockquote {
  margin: 0;
  padding: 0;
} */

body {
  font-family: Noto Sans;
  font-size: 90%;
}

header img {
  width: 1000px;
}

.content {
  padding: 0 20px;
}

.content-1 img {
  float: left;
  /* width: 600px; */
  padding: 10px;
}

.title {
  padding: 10px 0;
  color: rgb(110, 13, 189);
}

span {
  font-weight: bold;
}

.gallery-img {
  padding: 10px;
}

.img-desc {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .content-1 img {
    width: 300px;
  }
}

/* .gallery-imges1,
.gallery-imges2 {
	display: flex;
} */

@media only screen and (min-width: 992px) {
  .content {
    display: flex;
  }
}